@page "/planning"

<p>test</p>

@if (MyPropertyTestHook != null)
{
    @foreach (var data in MyPropertyTestHook)
    {
        <div>@data.MyProperty</div>
    }
}
else
{
    <p>No data available</p>
}
